
fieldset {
  border: none;
  padding: 0;
  margin: 20px 0;
}

.default-field {
  padding: 6px 14px;
  margin: 4px 12px 4px 0;
  border: 2px solid #939393;
  border-radius: 10px;
  background-color: $input-grey;
  font-size: 18px;
  &:focus {
    outline: none;
    border-color: $input-active;
  }
}

input  { @extend .default-field; }
select { @extend .default-field; }
label {
  font-size: 18px;
  display: block;
  font-weight: bold;
}

.input-sm {
  width: 100px;
}

//Setup
.setup-input {
  background-color: $input-white;
  width: 100%; 
  max-width: 250px;
}
.setup-form {
  color: #eee;
  input  { 
    @extend .setup-input; 
    margin: 5px; 
  }
  label  { font-size: 32px; }
  select { @extend .setup-input; }
}

//Error text
.error {
  color: $primary-color;
  &:before {
    content: "! ";
  }
  &-setup {
    color: #eee;
    font-size: 18px;
  }
}
.error-field {
  border-color: $primary-color !important;
}