// colors

//Main
$page-color: #eaeaea;
$primary-color: #d03232;
$dark-grey: #333;
$light-grey: #a1a1a1;
//Link 
$link-visited: $primary-color;
//Input 
$input-grey: #cccccc;
$input-white: #eeeeee;
$input-active: #1288ff;
$input-error: $primary-color;
//Buttons
$red-button: $primary-color;
$red-button-border: #7b2323;
$dark-button: #808080;
